<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Pets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/web_styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('register') }}">Register a Pet</a>
        <a href="{{ url_for('view_pets') }}">View All Registered Pets</a>
        <a href="{{ url_for('another_page') }}">Another Page</a>
    </nav>
    <header>
        <h1>All Registered Pets</h1>
    </header>
    <main>
        <section class="table-section">
            <h2>Registered Pets List</h2>
            <table>
                <thead>
                    <tr>
                        <th>RFID</th>
                        <th>Name</th>
                        <th>Max Feedings Per Day</th>
                        <th>Max Portions Per Day</th>
                        <th>Portions Per Feeding</th>
                        <th>History</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td>{{ pet.rfid }}</td>
                        <td>{{ pet.rfid_text }}</td>
                        <td>{{ pet.max_feedings_day }}</td>
                        <td>{{ pet.max_portions_day }}</td>
                        <td>{{ pet.portions_per_feeding }}</td>
                        <td><a href="{{ url_for('view_history', rfid=pet.rfid) }}">View History</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>© 2024 All Registered Pets. All rights reserved.</p>
    </footer>
</body>
</html>
