<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/web_styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/socket_notifications.js"></script>
</head>
<body>
    <header>
        <h1>Directory</h1>
    </header>
    <main>
        <section>
            <h2>Available Pages</h2>
            <ul>
                <li><a href="{{ url_for('smartfeeder') }}">SmartFeeder for Cats</a></li>
                <!-- Add links to other pages here -->
                <li><a href="{{ url_for('another_page') }}">Another Page</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2024 Directory. All rights reserved.</p>
    </footer>
</body>
</html>
